---
title: MPI's treasure hunt
layout: null
permalink: /
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MPI's treasure hunt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/trehunt/assets/css/main.css">
</head>
<body>

<div class="container">

    <!-- Coin counter -->
    <div id="coin-counter">Coins: <span id="coins">0</span></div>
    
    <!-- Title -->
    <h1 class="title">MPI's treasure hunt</h1>

    <!-- Picture -->
    <div class="image-block">
        <img src="/trehunt/assets/img/str1_1.jpg" alt="welcome">
    </div>

      <!-- Markdown content -->
    <div class="content">
        <p>You can find here a link to all the story presents, with all your clues saved!</p>
    </div>

  <!-- Menu -->
      <nav class="menu">
          <ul id="story-menu">
              {% for p in site.pages %}
                  {% if p.title and p.url != page.url %}
                  <li class="menu-item hidden" data-story="{{ p.id_story }}" data-step="{{ p.id_step }}">
                      <a href="./{{ p.url }}">{{ p.title }}</a>
                  </li>
                  {% endif %}
              {% endfor %}
          </ul>
      </nav>
    
    <p>If you have any trouble, be sure to contact the organisers!</p>

   </div>

    
</div>
    
<script>
    const INITIAL_COINS = 30;
    
    // Load or create at start
    if (!localStorage.getItem("gameState")) {
        const stories = Array.from({ length: 10 }, () =>
          Array.from({ length: 3 }, () => ({
             clue: 1,
             completed: false
          }))
        );
    
        const state = {
          coins: INITIAL_COINS,
          listStory: stories
        };
    
        localStorage.setItem("gameState", JSON.stringify(state));
        console.log("First game")
    }
    
    data = JSON.parse(localStorage.getItem("gameState"));
    
    // ==== Update displayed coins ====
    const coinsDisplay = document.getElementById("coins");
    coinsDisplay.textContent = data.coins;

    // ==== Unhide the correct links
    const menuItems = document.querySelectorAll(".menu-item");

    menuItems.forEach(item => {
        const story = parseInt(item.dataset.story, 10);
        const step  = parseInt(item.dataset.step, 10);

        // Always show first step of each story
        if (step === 0) {
          item.classList.remove("hidden");
          return;
        }
    
        // Show completed steps
        if( data.listStory.[story].[step].completed ) {
          item.classList.remove("hidden");
        }
    });
</script>
</body>
</html>
