<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/trehunt/assets/css/main.css">
    <link rel="stylesheet" href="/trehunt/assets/js/main.js">
</head>
<body>

<div class="container">

    <!-- Coin counter -->
    <div id="coin-counter">Coins: <span id="coins">0</span></div>
    
    <!-- Title -->
    <h1 class="title">{{ page.title }}</h1>

    <!-- Picture -->
    {% if page.picture %}
    <div class="image-block">
        <img src="{{ page.picture }}" alt="{{ page.title }}">
    </div>
    {% endif %}

    <!-- Markdown content -->
    <div class="content">
        {{ content }}
    </div>

    <!-- Clues -->
    {% if page.clues %}
    <div id="clues">
        {% for clue in page.clues %}
         <div class="clue hidden">{{ clue }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- QRCode camera system -->
    <div class="image-block">
        <img src="https://placehold.co/400x400" alt="Sample Image">
    </div>
</div>

</body>
</html>
